/*******************************************************************************
1. IMPORTS
*******************************************************************************/
/*******************************************************************************
1. VENDOR IMPORTS
*******************************************************************************/
article, aside, details, figcaption, figure, footer, header, hgroup, nav, section, summary {
  display: block; }

audio, canvas, video {
  display: inline-block; }

audio:not([controls]) {
  display: none;
  height: 0; }

[hidden], template {
  display: none; }

html {
  background: white;
  color: black;
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%; }

html, button, input, select, textarea {
  font-family: sans-serif; }

body {
  margin: 0; }

a {
  background: transparent; }
  a:focus {
    outline: thin dotted; }
  a:hover, a:active {
    outline: 0; }

h1 {
  font-size: 2em;
  margin: 0.67em 0; }

h2 {
  font-size: 1.5em;
  margin: 0.83em 0; }

h3 {
  font-size: 1.17em;
  margin: 1em 0; }

h4 {
  font-size: 1em;
  margin: 1.33em 0; }

h5 {
  font-size: 0.83em;
  margin: 1.67em 0; }

h6 {
  font-size: 0.75em;
  margin: 2.33em 0; }

abbr[title] {
  border-bottom: 1px dotted; }

b, strong {
  font-weight: bold; }

dfn {
  font-style: italic; }

mark {
  background: yellow;
  color: black; }

code, kbd, pre, samp {
  font-family: monospace, serif;
  font-size: 1em; }

pre {
  white-space: pre;
  white-space: pre-wrap;
  word-wrap: break-word; }

q {
  quotes: "\201C" "\201D" "\2018" "\2019"; }

q:before, q:after {
  content: '';
  content: none; }

small {
  font-size: 80%; }

sub, sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline; }

sup {
  top: -0.5em; }

sub {
  bottom: -0.25em; }


img {
  border: 0; }

svg:not(:root) {
  overflow: hidden; }

figure {
  margin: 0; }

fieldset {
  border: 1px solid silver;
  margin: 0 2px;
  padding: 0.35em 0.625em 0.75em; }

legend {
  border: 0;
  padding: 0;
  white-space: normal; }

button, input, select, textarea {
  font-family: inherit;
  font-size: 100%;
  margin: 0;
  vertical-align: baseline; }

button, input {
  line-height: normal; }

button, select {
  text-transform: none; }

button, html input[type="button"], input[type="reset"], input[type="submit"] {
  -webkit-appearance: button;
  cursor: pointer; }

button[disabled], input[disabled] {
  cursor: default; }

input[type="checkbox"], input[type="radio"] {
  box-sizing: border-box;
  padding: 0; }

input[type="search"] {
  -webkit-appearance: textfield;
  -moz-box-sizing: content-box;
  -webkit-box-sizing: content-box;
  box-sizing: content-box; }

input[type="search"]::-webkit-search-cancel-button, input[type="search"]::-webkit-search-decoration {
  -webkit-appearance: none; }

button::-moz-focus-inner, input::-moz-focus-inner {
  border: 0;
  padding: 0; }

textarea {
  overflow: auto;
  vertical-align: top; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

/*******************************************************************************
1. GRID SETTINGS
*******************************************************************************/
* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box; }

/*******************************************************************************
1. VARIABLES
*******************************************************************************/
/*******************************************************************************
1. INCLUDES
*******************************************************************************/
@font-face {
  font-family: 'northemes-icons';
  font-weight: normal;
  font-style: normal;
  src: url('../fonts/northemes-icons.eot');
  src: url('../fonts/northemes-icons.eot?') format('embedded-opentype'), url('../fonts/northemes-icons.woff') format('woff'), url('../fonts/northemes-icons.ttf') format('truetype'), url('../fonts/northemes-icons.svg') format('svg'); }

/*******************************************************************************
1. FUNCTIONS
*******************************************************************************/
/*******************************************************************************
1. MIXINS
*******************************************************************************/
/*******************************************************************************
1. KEYFRAMES
*******************************************************************************/
@-webkit-keyframes slideInFadeUp {
  from {
    -webkit-transform: translateY(2em);
    opacity: 0; }

  to {
    -webkit-transform: translateY(0);
    opacity: 1; } }

@-moz-keyframes slideInFadeUp {
  from {
    -moz-transform: translateY(2em);
    opacity: 0; }

  to {
    -moz-transform: translateY(0);
    opacity: 1; } }

@-o-keyframes slideInFadeUp {
  from {
    -o-transform: translateY(2em);
    opacity: 0; }

  to {
    -o-transform: translateY(0);
    opacity: 1; } }

@keyframes slideInFadeUp {
  from {
    transform: translateY(2em);
    opacity: 0; }

  to {
    transform: translateY(0);
    opacity: 1; } }

@-webkit-keyframes slideInLeft {
  from {
    -webkit-transform: translateX(-20em);
    opacity: 0; }

  to {
    -webkit-transform: translateX(0);
    opacity: 1; } }

@-moz-keyframes slideInLeft {
  from {
    -moz-transform: translateX(-20em);
    opacity: 0; }

  to {
    -moz-transform: translateX(0);
    opacity: 1; } }

@-o-keyframes slideInLeft {
  from {
    -o-transform: translateX(-20em);
    opacity: 0; }

  to {
    -o-transform: translateX(0);
    opacity: 1; } }

@keyframes slideInLeft {
  from {
    transform: translateX(-20em);
    opacity: 0; }

  to {
    transform: translateX(0);
    opacity: 1; } }

@-webkit-keyframes fadeIn {
  from {
    opacity: 0; }

  to {
    opacity: 1; } }

@-moz-keyframes fadeIn {
  from {
    opacity: 0; }

  to {
    opacity: 1; } }

@-o-keyframes fadeIn {
  from {
    opacity: 0; }

  to {
    opacity: 1; } }

@keyframes fadeIn {
  from {
    opacity: 0; }

  to {
    opacity: 1; } }

@-webkit-keyframes bounce {
  0% {
    -webkit-transform: translateY(0); }

  10% {
    -webkit-transform: translateY(0.9em) rotateZ(-80deg); }

  70% {
    -webkit-transform: translateY(-2em); }

  100% {
    -webkit-transform: translateY(0) rotateZ(0); } }

@-moz-keyframes bounce {
  0% {
    -moz-transform: translateY(0); }

  10% {
    -moz-transform: translateY(0.9em) rotateZ(-80deg); }

  70% {
    -moz-transform: translateY(-2em); }

  100% {
    -moz-transform: translateY(0) rotateZ(0); } }

@-o-keyframes bounce {
  0% {
    -o-transform: translateY(0); }

  10% {
    -o-transform: translateY(0.9em) rotateZ(-80deg); }

  70% {
    -o-transform: translateY(-2em); }

  100% {
    -o-transform: translateY(0) rotateZ(0); } }

@keyframes bounce {
  0% {
    transform: translateY(0); }

  10% {
    transform: translateY(0.9em) rotateZ(-80deg); }

  70% {
    transform: translateY(-2em); }

  100% {
    transform: translateY(0) rotateZ(0); } }

@-webkit-keyframes fly {
  0% {
    -webkit-transform: translateX(0); }

  35% {
    -webkit-transform: translateX(2em); }

  36% {
    opacity: 1; }

  37% {
    opacity: 0; }

  63% {
    opacity: 0; }

  64% {
    opacity: 1; }

  65% {
    -webkit-transform: translateX(-2em); }

  100% {
    -webkit-transform: translateX(0); } }

@-moz-keyframes fly {
  0% {
    -moz-transform: translateX(0); }

  35% {
    -moz-transform: translateX(2em); }

  36% {
    opacity: 1; }

  37% {
    opacity: 0; }

  63% {
    opacity: 0; }

  64% {
    opacity: 1; }

  65% {
    -moz-transform: translateX(-2em); }

  100% {
    -moz-transform: translateX(0); } }

@-o-keyframes fly {
  0% {
    -o-transform: translateX(0); }

  35% {
    -o-transform: translateX(2em); }

  36% {
    opacity: 1; }

  37% {
    opacity: 0; }

  63% {
    opacity: 0; }

  64% {
    opacity: 1; }

  65% {
    -o-transform: translateX(-2em); }

  100% {
    -o-transform: translateX(0); } }

@keyframes fly {
  0% {
    transform: translateX(0); }

  35% {
    transform: translateX(2em); }

  36% {
    opacity: 1; }

  37% {
    opacity: 0; }

  63% {
    opacity: 0; }

  64% {
    opacity: 1; }

  65% {
    transform: translateX(-2em); }

  100% {
    transform: translateX(0); } }

@-webkit-keyframes shake {
  0% {
    -webkit-transform: translate(2px, 1px) rotate(0deg); }

  10% {
    -webkit-transform: translate(-1px, -2px) rotate(-1deg); }

  20% {
    -webkit-transform: translate(-3px, 0px) rotate(1deg); }

  30% {
    -webkit-transform: translate(0px, 2px) rotate(0deg); }

  40% {
    -webkit-transform: translate(1px, -1px) rotate(1deg); }

  50% {
    -webkit-transform: translate(-1px, 2px) rotate(-1deg); }

  60% {
    -webkit-transform: translate(-3px, 1px) rotate(0deg); }

  70% {
    -webkit-transform: translate(2px, 1px) rotate(-1deg); }

  80% {
    -webkit-transform: translate(-1px, -1px) rotate(1deg); }

  90% {
    -webkit-transform: translate(2px, 2px) rotate(0deg); }

  100% {
    -webkit-transform: translate(1px, -2px) rotate(-1deg); } }

@-moz-keyframes shake {
  0% {
    -moz-transform: translate(2px, 1px) rotate(0deg); }

  10% {
    -moz-transform: translate(-1px, -2px) rotate(-1deg); }

  20% {
    -moz-transform: translate(-3px, 0px) rotate(1deg); }

  30% {
    -moz-transform: translate(0px, 2px) rotate(0deg); }

  40% {
    -moz-transform: translate(1px, -1px) rotate(1deg); }

  50% {
    -moz-transform: translate(-1px, 2px) rotate(-1deg); }

  60% {
    -moz-transform: translate(-3px, 1px) rotate(0deg); }

  70% {
    -moz-transform: translate(2px, 1px) rotate(-1deg); }

  80% {
    -moz-transform: translate(-1px, -1px) rotate(1deg); }

  90% {
    -moz-transform: translate(2px, 2px) rotate(0deg); }

  100% {
    -moz-transform: translate(1px, -2px) rotate(-1deg); } }

@-o-keyframes shake {
  0% {
    -o-transform: translate(2px, 1px) rotate(0deg); }

  10% {
    -o-transform: translate(-1px, -2px) rotate(-1deg); }

  20% {
    -o-transform: translate(-3px, 0px) rotate(1deg); }

  30% {
    -o-transform: translate(0px, 2px) rotate(0deg); }

  40% {
    -o-transform: translate(1px, -1px) rotate(1deg); }

  50% {
    -o-transform: translate(-1px, 2px) rotate(-1deg); }

  60% {
    -o-transform: translate(-3px, 1px) rotate(0deg); }

  70% {
    -o-transform: translate(2px, 1px) rotate(-1deg); }

  80% {
    -o-transform: translate(-1px, -1px) rotate(1deg); }

  90% {
    -o-transform: translate(2px, 2px) rotate(0deg); }

  100% {
    -o-transform: translate(1px, -2px) rotate(-1deg); } }

@keyframes shake {
  0% {
    transform: translate(2px, 1px) rotate(0deg); }

  10% {
    transform: translate(-1px, -2px) rotate(-1deg); }

  20% {
    transform: translate(-3px, 0px) rotate(1deg); }

  30% {
    transform: translate(0px, 2px) rotate(0deg); }

  40% {
    transform: translate(1px, -1px) rotate(1deg); }

  50% {
    transform: translate(-1px, 2px) rotate(-1deg); }

  60% {
    transform: translate(-3px, 1px) rotate(0deg); }

  70% {
    transform: translate(2px, 1px) rotate(-1deg); }

  80% {
    transform: translate(-1px, -1px) rotate(1deg); }

  90% {
    transform: translate(2px, 2px) rotate(0deg); }

  100% {
    transform: translate(1px, -2px) rotate(-1deg); } }

html, body {
  font-family: 'Open Sans', sans-serif;
  font-weight: 300;
  margin: 0;
  padding: 0; }

body {
  font-size: 100%;
  background: #282828;
  line-height: 1.5;
  position: relative; }

img {
  width: 100%; }

a {
  color: #00ffba; }

p {
  font-size: 1em; }
  @media (min-width: 480px) {
    p {
      font-size: 1.1em; } }

h1, h2, h3, h4, h5, h6 {
  font-family: 'Open Sans Condensed', sans-serif;
  font-weight: 700;
  line-height: 1;
  letter-spacing: 0.005em;
  text-transform: uppercase; }
  h1 a, h2 a, h3 a, h4 a, h5 a, h6 a {
    text-decoration: none; }

h1 {
  font-size: 1.6em; }
  @media (min-width: 820px) {
    h1 {
      font-size: 2.75em; } }

h2 {
  font-size: 1.4em;
  margin: 1em 0 0.5em 0; }
  @media (min-width: 820px) {
    h2 {
      font-size: 1.85em; } }

h3 {
  font-size: 1.2em;
  margin: 1em 0 0 0; }
  @media (min-width: 820px) {
    h3 {
      font-size: 1.6em; } }

h4 {
  font-size: 1.1em; }
  @media (min-width: 820px) {
    h4 {
      font-size: 1.4em; } }

h5, h6 {
  font-size: 1.1em; }

pre code {
  background: #111111;
  display: block;
  padding: 0.5em 1em;
  color: #00ffba; }

blockquote {
  position: relative; }
  blockquote:before {
    content: "“";
    position: absolute;
    left: -0.6em;
    top: -0.2em;
    line-height: 1;
    font-size: 3em; }

hr {
  border: none;
  height: 2px;
  background: #00ffba; }

iframe {
  margin-bottom: 1em;
  max-width: 100%; }

input[type=text], textarea {
  color: #00ffba;
  background: #111111;
  padding: 0.8em 0.8em;
  border: 1px solid #111111;
  font-size: 0.8em;
  width: 100%;
  margin-bottom: 1em; }
  input[type=text]:focus, textarea:focus {
    box-shadow: 0 0 3px 2px #00ffba;
    outline: none; }

textarea {
  width: 100%;
  height: 200px; }

label {
  font-size: 0.9em;
  font-family: 'Open Sans Condensed', sans-serif;
  color: #111111; }

input[type=submit] {
  -webkit-transition: background 0.25s ease-in-out;
  -moz-transition: background 0.25s ease-in-out;
  transition: background 0.25s ease-in-out;
  font-family: 'Open Sans Condensed', sans-serif;
  font-size: 0.9em;
  background: #00ffba;
  border: none;
  padding: 1em;
  color: #007f5d; }
  input[type=submit]:hover {
    background: #33ffc7; }

.site-wrapper-pxl {
  *zoom: 1;
  position: relative;
  min-height: 100%; }
  .site-wrapper-pxl:before, .site-wrapper-pxl:after {
    content: " ";
    display: table; }
  .site-wrapper-pxl:after {
    clear: both; }

.slabtexted .slabtext {
  display: -moz-inline-box;
  display: inline-block;
  white-space: nowrap; }

.slabtextinactive .slabtext {
  display: inline;
  white-space: normal;
  font-size: 1em !important;
  letter-spacing: inherit !important;
  word-spacing: inherit !important;
  *letter-spacing: 0 !important;
  *word-spacing: 0 !important; }

.slabtextdone .slabtext {
  display: block; }

* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box; }

.site-header-nt {
  -webkit-transition: padding 0.4s linear;
  -moz-transition: padding 0.4s linear;
  transition: padding 0.4s linear;
  position: fixed;
  z-index: 2;
  background: #111111;
  padding: 1.5em 1em;
  top: 0;
  right: 0;
  left: 0; }
  .site-header-nt.small-header {
    padding: 0 1em; }

.wrapper-nt {
  *zoom: 1;
  max-width: 100em;
  margin-left: auto;
  margin-right: auto; }
  .wrapper-nt:before, .wrapper-nt:after {
    content: " ";
    display: table; }
  .wrapper-nt:after {
    clear: both; }

.blog-title-nt {
  -webkit-transition: all 0.25s linear;
  -moz-transition: all 0.25s linear;
  transition: all 0.25s linear;
  float: left;
  font-size: 1.5em;
  margin: 0;
  display: inline-block;
  position: relative;
  line-height: 0.75;
  text-transform: uppercase;
  letter-spacing: 0.1em; }
  .blog-title-nt a {
    -webkit-transition: all 0.25s linear;
    -moz-transition: all 0.25s linear;
    transition: all 0.25s linear;
    color: white !important;
    display: block;
    padding-bottom: 0.7em; }
  .blog-title-nt:after {
    -webkit-transition: all 0.1s ease-in-out;
    -moz-transition: all 0.1s ease-in-out;
    transition: all 0.1s ease-in-out;
    pointer-events: none;
    display: block;
    content: "";
    height: 2px;
    background: #00ffba;
    position: absolute;
    right: 0.1em;
    bottom: 0;
    left: 0;
    box-shadow: 0 0 1em 0.1em rgba(76, 255, 206, 0.3); }
  .blog-title-nt:hover:after {
    height: 6px;
    bottom: -2px;
    box-shadow: 0 0 1.2em 0.1em rgba(76, 255, 206, 0.7); }

.small-header .blog-title-nt {
  margin-top: -1.4em; }
  .small-header .blog-title-nt a {
    padding-bottom: 1.5em; }

.colorpicker-nt {
  float: right; }

.colorpicker-toggle-nt, .cp-color-nt {
  text-decoration: none;
  float: right;
  font-size: 1em;
  line-height: 2.4;
  width: 2.2em;
  height: 2.2em;
  text-align: center;
  display: block; }
  .colorpicker-toggle-nt:before, .cp-color-nt:before {
    content: '\e60e';
    speak: none;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    text-transform: none;
    line-height: 1;
    font-style: normal;
    font-variant: normal;
    font-weight: normal;
    font-family: 'northemes-icons'; }
  .colorpicker-toggle-nt span, .cp-color-nt span {
    display: none; }

.colorpicker-colors-nt {
  -webkit-transition: opacity 0.25s ease-in-out;
  -moz-transition: opacity 0.25s ease-in-out;
  transition: opacity 0.25s ease-in-out;
  padding: 0.5em 0;
  background: white;
  position: absolute;
  top: 4em;
  opacity: 0; }
  .colorpicker-colors-nt:before {
    height: 0;
    width: 0;
    border-color: transparent;
    border-style: solid;
    border-width: 0.5em;
    border-bottom-color: white;
    content: "";
    position: absolute;
    top: -1em;
    margin-left: -0.5em;
    left: 50%; }
  .colorpicker-colors-nt.active-nt {
    opacity: 1; }

.cp-color-nt {
  float: none; }
  .cp-color-nt.cp-green-nt {
    color: #00ffba; }
  .cp-color-nt.cp-blue-nt {
    color: #15faf7; }
  .cp-color-nt.cp-yellow-nt {
    color: #ffec48; }
  .cp-color-nt.cp-red-nt {
    color: #f72245; }
  .cp-color-nt.cp-purple-nt {
    color: #ff5df5; }
  .cp-color-nt.cp-pink-nt {
    color: #ff5193; }

.social-nt {
  float: right;
  text-align: center; }

.social-link-nt {
  -webkit-transition: all 0.25s ease-in-out;
  -moz-transition: all 0.25s ease-in-out;
  transition: all 0.25s ease-in-out;
  text-decoration: none;
  color: white;
  display: inline-block;
  border: 2px solid white;
  width: 2.2em;
  height: 2.2em;
  line-height: 2em;
  margin-left: 0.25em; }
  .social-link-nt:before {
    speak: none;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    text-transform: none;
    line-height: 1;
    font-style: normal;
    font-variant: normal;
    font-weight: normal;
    font-family: 'northemes-icons'; }
  .social-link-nt:hover {
    color: #00ffba;
    border-color: #00ffba;
    box-shadow: inset 0 0 1em rgba(76, 255, 206, 0.4), 0 0 1em rgba(76, 255, 206, 0.4); }

.small-header .social-link-nt {
  border: 2px solid transparent;
  margin-left: 0;
  width: 1.2em; }
  .small-header .social-link-nt:hover {
    color: #00ffba;
    border-color: transparent;
    box-shadow: none;
    text-shadow: 0 0 1em rgba(76, 255, 206, 0.5); }

.social-link-nt.facebook:before {
  content: '\e600'; }

.social-link-nt.twitter:before {
  content: '\e601'; }

.social-link-nt.google:before {
  content: '\e602'; }

.social-link-nt.linkedin:before {
  content: '\e603'; }

.social-link-nt.github:before {
  content: '\e604'; }

.social-link-nt.youtube:before {
  content: '\e605'; }

.social-link-nt.dribbble:before {
  content: '\e606'; }

.social-link-nt.skype:before {
  content: '\e607'; }

.social-link-nt.instagram:before {
  content: '\e608'; }

.social-link-nt.stackoverflow:before {
  content: '\e609'; }

.social-link-nt.tumblr:before {
  content: '\e60a'; }

.social-link-nt.foursquare:before {
  content: '\e60b'; }

.main-nt {
  -webkit-transition: padding 0.4s linear;
  -moz-transition: padding 0.4s linear;
  transition: padding 0.4s linear;
  padding: 6em 0.5em 0;
  position: relative;
  z-index: 1; }
  .main-nt.small-header {
    -webkit-transition: padding 0.4s linear;
    -moz-transition: padding 0.4s linear;
    transition: padding 0.4s linear;
    padding: 0 0.5em; }

.container-nt {
  *zoom: 1;
  max-width: 100em;
  margin-left: auto;
  margin-right: auto;
  *zoom: 1;
  -webkit-perspective: 1000px;
  -moz-perspective: 1000px;
  perspective: 1000px;
  position: relative; }
  .container-nt:before, .container-nt:after {
    content: " ";
    display: table; }
  .container-nt:after {
    clear: both; }
  .container-nt:before, .container-nt:after {
    content: " ";
    display: table; }
  .container-nt:after {
    clear: both; }

@-webkit-keyframes fadeIn {
  from {
    -webkit-transform: translateY(-50px);
    opacity: 0; }

  to {
    -webkit-transform: translateY(0);
    opacity: 1; } }

@-moz-keyframes fadeIn {
  from {
    -moz-transform: translateY(-50px);
    opacity: 0; }

  to {
    -moz-transform: translateY(0);
    opacity: 1; } }

@-o-keyframes fadeIn {
  from {
    -o-transform: translateY(-50px);
    opacity: 0; }

  to {
    -o-transform: translateY(0);
    opacity: 1; } }

@keyframes fadeIn {
  from {
    transform: translateY(-50px);
    opacity: 0; }

  to {
    transform: translateY(0);
    opacity: 1; } }

.brick-nt {
  display: block;
  float: left;
  margin-right: 0%;
  width: 100%;
  padding: 0 0.5em;
  opacity: 0; }
  .brick-nt:last-child {
    margin-right: 0; }
  @media screen and (min-width: 480px) {
    .brick-nt {
      display: block;
      float: left;
      margin-right: 0%;
      width: 50%; }
      .brick-nt:last-child {
        margin-right: 0; } }
  @media screen and (min-width: 768px) {
    .brick-nt {
      display: block;
      float: left;
      margin-right: 0%;
      width: 33.33333%; }
      .brick-nt:last-child {
        margin-right: 0; } }
  @media screen and (min-width: 1024px) {
    .brick-nt {
      display: block;
      float: left;
      margin-right: 0%;
      width: 25%; }
      .brick-nt:last-child {
        margin-right: 0; }
      .brick-nt:first-child {
        display: block;
        float: left;
        margin-right: 0%;
        width: 50%; }
        .brick-nt:first-child:last-child {
          margin-right: 0; } }
  .brick-nt.loaded {
    -webkit-transform-origin: center top;
    -moz-transform-origin: center top;
    -ms-transform-origin: center top;
    -o-transform-origin: center top;
    transform-origin: center top;
    -webkit-perspective-origin: center top;
    -moz-perspective-origin: center top;
    perspective-origin: center top;
    -webkit-animation: fadeIn 0.4s ease-in;
    -moz-animation: fadeIn 0.4s ease-in;
    animation: fadeIn 0.4s ease-in;
    -webkit-animation-fill-mode: both;
    -moz-animation-fill-mode: both;
    animation-fill-mode: both; }
  .brick-nt:nth-child(7n+1).loaded {
    -webkit-animation-delay: 0s;
    -moz-animation-delay: 0s;
    animation-delay: 0s; }
  .brick-nt:nth-child(7n+2).loaded {
    -webkit-animation-delay: 0.3s;
    -moz-animation-delay: 0.3s;
    animation-delay: 0.3s; }
  .brick-nt:nth-child(7n+3).loaded {
    -webkit-animation-delay: 0.6s;
    -moz-animation-delay: 0.6s;
    animation-delay: 0.6s; }
  .brick-nt:nth-child(7n+4).loaded {
    -webkit-animation-delay: 0.9s;
    -moz-animation-delay: 0.9s;
    animation-delay: 0.9s; }
  .brick-nt:nth-child(7n+5).loaded {
    -webkit-animation-delay: 1.2s;
    -moz-animation-delay: 1.2s;
    animation-delay: 1.2s; }
  .brick-nt:nth-child(7n+6).loaded {
    -webkit-animation-delay: 1.5s;
    -moz-animation-delay: 1.5s;
    animation-delay: 1.5s; }
  .brick-nt:nth-child(7n+7).loaded {
    -webkit-animation-delay: 1.8s;
    -moz-animation-delay: 1.8s;
    animation-delay: 1.8s; }

.no-cssanimations .brick-nt {
  opacity: 1; }

.no-js .brick-nt {
  opacity: 1; }

.grid-sizer-nt {
  display: block;
  float: left;
  margin-right: 0%;
  width: 100%; }
  .grid-sizer-nt:last-child {
    margin-right: 0; }
  @media screen and (min-width: 480px) {
    .grid-sizer-nt {
      display: block;
      float: left;
      margin-right: 0%;
      width: 50%; }
      .grid-sizer-nt:last-child {
        margin-right: 0; } }
  @media screen and (min-width: 768px) {
    .grid-sizer-nt {
      display: block;
      float: left;
      margin-right: 0%;
      width: 33.33333%; }
      .grid-sizer-nt:last-child {
        margin-right: 0; } }
  @media screen and (min-width: 1024px) {
    .grid-sizer-nt {
      display: block;
      float: left;
      margin-right: 0%;
      width: 25%; }
      .grid-sizer-nt:last-child {
        margin-right: 0; } }

.article-nt {
  *zoom: 1;
  color: #222222;
  background: rgba(255, 255, 255, 0.8);
  position: relative;
  margin-bottom: 1em; }
  .article-nt:before, .article-nt:after {
    content: " ";
    display: table; }
  .article-nt:after {
    clear: both; }
  .article-nt a {
    color: #222222; }
  .article-nt:before {
    -webkit-transition: all 0.1s ease-in-out;
    -moz-transition: all 0.1s ease-in-out;
    transition: all 0.1s ease-in-out;
    pointer-events: none;
    display: block;
    content: "";
    height: 2px;
    background: #00ffba;
    position: absolute;
    right: 0;
    top: 0;
    left: 0;
    z-index: 3;
    box-shadow: 0 0 1em 0.1em rgba(76, 255, 206, 0.3); }

.article-nt:hover:before {
  height: 6px;
  box-shadow: 0 0 1.2em 0.1em rgba(76, 255, 206, 0.7); }

.post-link-nt {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 1; }

.home-template .article-nt iframe {
  z-index: 2;
  margin-bottom: 0; }

.post-template .fluid-width-video-wrapper {
  margin-bottom: 1em; }

.date-nt {
  float: left;
  margin: 0.4em 0.8em 0 0;
  display: block;
  font-weight: bold;
  background: rgba(0, 0, 0, 0.2);
  color: white;
  padding: 0.5em;
  text-transform: uppercase;
  width: 3.8em; }
  .date-nt span {
    line-height: 1.2em !important; }

.no-js .date-nt {
  width: auto; }

.article-nt p:first-of-type {
  margin: 0; }

.article-nt p:first-of-type img {
  display: block; }

.text-wrapper {
  padding: 2em; }

.post-tags-nt {
  *zoom: 1;
  list-style: none;
  margin: 0;
  background: #111111;
  padding: 0.8em 1.2em 0.4em 3.2em;
  font-size: 0.9em;
  color: white;
  position: relative; }
  .post-tags-nt:before, .post-tags-nt:after {
    content: " ";
    display: table; }
  .post-tags-nt:after {
    clear: both; }

.post-tag-nt {
  float: left;
  margin-right: 0.4em;
  background: rgba(255, 255, 255, 0.15);
  padding: 0.3em 0.6em;
  border-radius: 0.2em;
  margin-bottom: 0.4em; }
  .post-tag-nt:first-child:before {
    content: '\e60d';
    speak: none;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    text-transform: none;
    line-height: 1;
    font-style: normal;
    font-variant: normal;
    font-weight: normal;
    font-family: 'northemes-icons';
    margin-right: 1em;
    position: absolute;
    top: 1.4em;
    left: 1.2em; }

.post-template .post-tags-nt {
  background: transparent;
  padding: 0.8em 1.2em 0.4em 2em;
  color: white; }

.post-template .post-tag-nt {
  background: rgba(17, 17, 17, 0.1); }
  .post-template .post-tag-nt:first-child:before {
    content: '\e60d';
    speak: none;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    text-transform: none;
    line-height: 1;
    font-style: normal;
    font-variant: normal;
    font-weight: normal;
    font-family: 'northemes-icons';
    left: 0;
    color: #111111; }

.post-title-nt {
  margin-top: 0;
  width: 100%;
  font-size: 1.4em;
  position: relative; }

.post-template .main-nt {
  max-width: 45em;
  width: auto !important;
  width: 100%;
  margin: 0 auto; }

.post-template .article-nt {
  -webkit-animation: fadeIn 0.4s ease-in;
  -moz-animation: fadeIn 0.4s ease-in;
  animation: fadeIn 0.4s ease-in;
  -webkit-animation-fill-mode: both;
  -moz-animation-fill-mode: both;
  animation-fill-mode: both;
  background: rgba(255, 255, 255, 0.9);
  padding: 0 5%; }
  .post-template .article-nt img {
    width: 111%;
    margin-left: -5.5%;
    margin-bottom: 1.5em; }

.post-template .article-nt:before {
  height: 3px;
  box-shadow: none; }

.post-template .post-header-nt {
  text-align: center;
  overflow: hidden; }

.post-template .post-title-nt {
  margin: 1em 0 0 0; }

.post-template .post-title-nt:after {
  display: none; }

.post-template .article-nt .date-nt {
  float: none;
  text-align: center;
  margin-bottom: 1em;
  background: none;
  padding: 0 1em;
  display: inline-block;
  position: relative;
  color: #111111;
  width: auto; }
  .post-template .article-nt .date-nt:before, .post-template .article-nt .date-nt:after {
    background: #111111;
    position: absolute;
    top: 0.6em;
    bottom: 0.6em;
    content: "";
    width: 200%; }
  .post-template .article-nt .date-nt:before {
    right: 100%; }
  .post-template .article-nt .date-nt:after {
    left: 100%; }

.post-template .post-footer-nt {
  width: 111%;
  margin: 2em 0 0 -5.5%;
  position: relative;
  color: white;
  padding: 2em 0 5em;
  overflow: hidden;
  background-size: 100%;
  background-color: rgba(0, 0, 0, 0.2); }

.post-template .author-name-nt {
  position: relative;
  z-index: 1;
  text-align: center;
  font-style: normal;
  font-size: 1.4em;
  margin: 0.5em 0;
  padding: 0 5.5%; }

.post-template .author-image-nt {
  border-radius: 100%;
  max-width: 8em;
  overflow: hidden;
  position: relative;
  z-index: 1;
  margin: 0 auto;
  border: 0.25em solid white; }

.post-template .author-website-nt {
  position: relative;
  z-index: 1;
  text-align: center;
  padding: 0 5.5%; }
  .post-template .author-website-nt a {
    color: white; }

.post-template .author-bio-nt {
  position: relative;
  z-index: 1;
  text-align: center;
  font-size: 0.8em;
  margin: 0.5em 0;
  padding: 0 5.5%; }

.post-template .author-image-nt img {
  width: 100%;
  margin: 0;
  display: block; }

.post-template .share-post-nt {
  *zoom: 1;
  padding: 1em 5.5%;
  background: rgba(17, 17, 17, 0.9);
  color: white;
  position: absolute;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 1;
  text-align: center; }
  .post-template .share-post-nt:before, .post-template .share-post-nt:after {
    content: " ";
    display: table; }
  .post-template .share-post-nt:after {
    clear: both; }

.post-template .share-post-title-nt {
  margin: 0 0.5em 0 0;
  display: inline;
  font-size: 1.2em; }

.post-template .comments {
  margin-top: 2em; }

.post-template .share-nt {
  -webkit-transition: all 0.25s ease-in-out;
  -moz-transition: all 0.25s ease-in-out;
  transition: all 0.25s ease-in-out;
  display: inline-block;
  vertical-align: baseline;
  zoom: 1;
  *display: inline;
  *vertical-align: auto;
  width: 1.2em;
  color: white;
  text-align: center;
  text-decoration: none; }
  .post-template .share-nt:before {
    speak: none;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    text-transform: none;
    line-height: 1;
    font-style: normal;
    font-variant: normal;
    font-weight: normal;
    font-family: 'northemes-icons'; }
  .post-template .share-nt:hover {
    color: #00ffba;
    text-shadow: 0 0 1em rgba(76, 255, 206, 0.5); }

.hidden-nt {
  color: transparent;
  font: 0/0 a;
  text-shadow: none; }

.post-template .share-nt.facebook:before {
  content: '\e600'; }

.post-template .share-nt.google:before {
  content: '\e602'; }

.post-template .share-nt.twitter:before {
  content: '\e601'; }

#infscr-loading {
  position: absolute;
  left: -1%;
  right: -1%;
  bottom: 0;
  padding: 2em;
  background: rgba(17, 17, 17, 0.7);
  color: white;
  text-align: center; }
  #infscr-loading img {
    display: none; }

@-webkit-keyframes rotation {
  from {
    -webkit-transform: rotate(0deg); }

  to {
    -webkit-transform: rotate(359deg); } }

@-moz-keyframes rotation {
  from {
    -moz-transform: rotate(0deg); }

  to {
    -moz-transform: rotate(359deg); } }

@-o-keyframes rotation {
  from {
    -o-transform: rotate(0deg); }

  to {
    -o-transform: rotate(359deg); } }

@keyframes rotation {
  from {
    transform: rotate(0deg); }

  to {
    transform: rotate(359deg); } }

#initial-loading {
  -webkit-animation: rotation 0.6s linear;
  -moz-animation: rotation 0.6s linear;
  animation: rotation 0.6s linear;
  -webkit-animation-iteration-count: infinite;
  -moz-animation-iteration-count: infinite;
  animation-iteration-count: infinite;
  background: transparent;
  top: 35vh;
  margin-left: -2em;
  height: 4em;
  width: 4em;
  margin: 0px auto;
  position: relative;
  border-left: 6px solid rgba(0, 255, 186, 0.15);
  border-right: 6px solid rgba(0, 255, 186, 0.15);
  border-bottom: 6px solid rgba(0, 255, 186, 0.15);
  border-top: 6px solid #00ffba;
  border-radius: 100%; }

.no-js #initial-loading {
  display: none; }

.pagination-nt {
  display: none; }

.site-footer-nt {
  *zoom: 1;
  position: relative;
  z-index: 1;
  background: rgba(17, 17, 17, 0.8);
  color: white;
  padding: 1em; }
  .site-footer-nt:before, .site-footer-nt:after {
    content: " ";
    display: table; }
  .site-footer-nt:after {
    clear: both; }

.footer-text-nt {
  display: inline-block;
  height: 2em;
  padding-right: 2em;
  font-size: 0.9em; }

.subscribe-nt {
  -webkit-transition: all 0.25s ease-in-out;
  -moz-transition: all 0.25s ease-in-out;
  transition: all 0.25s ease-in-out;
  font-size: 1em;
  text-decoration: none;
  display: inline-block;
  line-height: 1.8;
  position: absolute;
  top: 1em;
  right: 1em;
  text-align: right;
  color: white; }
  .subscribe-nt:before {
    content: '\e60c';
    speak: none;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    text-transform: none;
    line-height: 1;
    font-style: normal;
    font-variant: normal;
    font-weight: normal;
    font-family: 'northemes-icons'; }
  .subscribe-nt:hover {
    color: #00ffba;
    text-shadow: 0 0 1em rgba(76, 255, 206, 0.5); }

.cover-wrapper-nt {
  position: fixed;
  top: -50%;
  left: -50%;
  width: 200%;
  height: 200%; }

.cover-wrapper-nt img {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  margin: auto;
  min-width: 50%;
  min-height: 50%; }
